<!DOCTYPE html>
<html>
 
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>New contact and proposal</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="index.js"></script>
  <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css” />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="style.css" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script type="module" src="../server.js"></script>
</head>
 
<body>
  <nav>
    <a href="index.html" style="color: #fff">
      <p class="h2">Інформаційно-комунікаційний хаб</p>
    </a>
    <ul>
      <li>
        <a href="forms.html">
          <i class="bi bi-chat-left-text" aria-hidden="true" title="Зв'язок"></i>
        </a>
      </li>
      <li>
        <a href="gmail-api.html">
          <i class="bi bi-envelope" aria-hidden="true" title="Надіслати листа"></i>
        </a>
      </li>
      <li>
        <a href="sheet-api.html">
          <i class="bi bi-globe" aria-hidden="true" title="Моніторинг"></i>
        </a>
      </li>
    </ul>
  </nav>
  <div class="col-6" style="margin-left: 2rem">
    <h3 class="h3">Оформлення пропозиції</h3>
    <div id="main">
      <form id="proposition_form" class="proposition_form" name="proposition_form">
        <div class="form-group">
          <label for="propTitle" class="form_label">Назва:</label>
          <input type="text" id="propTitle" plaseholder="Назва пропозиції" class="form-control" name="propTitle" />
        </div>
 
        <div class="form-group">
          <label for="propBody" class="form_label">Опис:</label>
          <input type="text" id="propBody" plaseholder="Опис пропозиції" class="form-control" name="propBody" />
        </div>
 
        <div class="form-group">
          <label for="propContact" class="form_label">Організація:</label>
          <input list="contact_list" id="propContact" plaseholder="Назва організації" class="form-control"
            name="propContact" /><br />
          <datalist id="contact_list"></datalist>
        </div>
      </form>
 
      <div id="contacts_container"></div>
      <div class="form-group">
        <label for="propFile">Файл: </label>
        <input type="file" id="propFile" name="propFile" multiple class="btn" /><br />
      </div>
 
      <input type="button" id="propSubmit" value="Сформувати" class="btn btn-primary" onclick="submitProposal()" />
    </div>
  </div>
 
  <div class="col-6" style="margin-left: 2rem; margin-top: 2rem">
    <form id="contForm">
      <h3 class="h3">Додавання контакту</h3>
 
      <div class="form-group">
        <label for="contName">Назва:</label>
        <input type="text" id="contName" name="contName" class="form-control" />
      </div>
 
      <div class="form-group">
        <label for="contEmail">Пошта:</label>
        <input type="email" id="contEmail" name="contEmail" class="form-control" />
      </div>
 
      <div class="form-group">
        <label for="contPhone">Телефон:</label>
        <input type="text" id="contPhone" name="contPhone" class="form-control" />
      </div>
 
      <div class="form-group">
        <label for="contType" style="margin-right: 2rem">Тип:</label>
        <input type="radio" id="contTypeGrom" name="contType" value="Громадська організація" checked />
        <label for="html" style="margin-right: 2rem">Громадська організація</label>
        <input type="radio" id="contTypeVol" name="contType" value="Волонтерська організація" />
        <label for="css">Волонтерська організація</label>
      </div>
 
      <input type="button" id="contSubmit" value="Додати" class="btn btn-primary" onclick="submitContact()"
        style="margin-bottom: 2rem" />
    </form>
  </div>
 
  <footer class="bg-light footer text-lg-start">
    <div class="p-3" style="
          background: rgb(2, 0, 36);
          background: linear-gradient(
            90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 121, 1) 35%,
            rgba(0, 212, 255, 1) 100%
          );
          color: #fff;
        ">
      © 2022 PZ-42
    </div>
  </footer>
 
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
 
</html>
