<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>ІКХ</title>
 
  <script type="module" src="../sheet-api.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
 
</head>
 
<body>
  <nav>
    <a href="index.html" style="color: #fff">
      <p class="h2">Інформаційно-комунікаційний хаб</p>
    </a>
    <ul>
      <li>
        <a href="forms.html">
          <i class="bi bi-chat-left-text" aria-hidden="true" title="Зв'язок"></i>
        </a>
      </li>
      <li>
        <a href="gmail-api.html">
          <i class="bi bi-envelope" aria-hidden="true" title="Надіслати листа"></i>
        </a>
      </li>
      <li>
        <a href="sheet-api.html">
          <i class="bi bi-globe" aria-hidden="true" title="Моніторинг"></i>
        </a>
      </li>
    </ul>
  </nav>
  <div id="root" class="form-group">
    <button class="btn btn-success" type="button" id="searchBtn" style="margin-left:2rem;">Search</button>
    <div id="termDiv" style="width: 40%; margin: 30px 2rem;">
      <form method="post" id="termForm" name="termForm">
        <input type="text" placeholder="Нове слово" id="termInput" style="width: 70%;" class="form-control">
        <button type="submit" class="btn btn-success" id="addTermBtn" style="margin-top: 1rem">
          <i class="material-icons" style="font-size:27px; vertical-align: middle;">&#xE147;</i>
          <span>Додати</span>
        </button>
      </form>
      <ul id="term-list">
 
      </ul>
    </div>
 
    <div id="urlDiv" style="width: 40%; margin: 30px 2rem;">
      <form method="post" id="urlForm" name="urlForm">
        <input type="text" placeholder="Нова url-адреса" id="urlInput" style="width: 70%;" class="form-control">
        <button type="submit" class="btn btn-success" id="addUrlBtn" style="margin-top: 1rem">
          <i class="material-icons" style="font-size:27px; vertical-align: middle;">&#xE147;</i>
          <span>Додати</span>
        </button>
      </form>
      <ul id="url-list">
 
      </ul>
    </div>
    <div class="container my-3">
      <h3>Результати моніторингу <span class="badge badge-secondary"></span></h3>
      <hr>
      <div class="accordion" id="newsAccordion"></div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <br>
  <footer class="bg-light footer text-lg-start">
    <div class="p-3" style="
            background: rgb(2, 0, 36);
            background: linear-gradient(
              90deg,
              rgba(2, 0, 36, 1) 0%,
              rgba(9, 9, 121, 1) 35%,
              rgba(0, 212, 255, 1) 100%
            );
            color: #fff;
          ">
      © 2022 PZ-42
    </div>
  </footer>
 
 
</body>
 
</html>
